:root {
  --background-color: #010101;
  --background-color-secondary: #121213;
  --background-color-accent: #1f2026;
  --text-color-primary: #fff;
  --text-color-secondary: #b5b5b5;
  --text-font: "Circe", sans-serif;
  --color-success: #55ff99;
}
